# Ignore cypress videos and screenshots
cypress/videos/*
cypress/screenshots/*
cypress/downloads/*

# Ignore the .env file
.env

# Ignore the k6 config file
cypress/load-tests/config.js

# Ignore all csv extension files
*.csv
*.txt